@mixin alert($color){
	background: $color;
	color: darken($color, $shadeHigh);
	border: 2px solid darken($color, $shadeMed);
}

.alert{
	@include alert($alert);

	padding: $spacing;
	border-radius: $borderRadius;
}

.alert--info{
	@include alert($alert--info);
}

.alert--warn{
	@include alert($alert--warn);
}

.alert--fail{
	@include alert($alert--fail);
}