.button--clear{
    border: none;
    background: transparent;
    padding: 0;

    .icon{
        vertical-align: middle;
        margin-left: $spacing * 0.5;

        &:first-child{
            margin-left: 0;
        }
    }

    span{
        vertical-align: middle;
        margin-left: $spacing * 0.5;

        &:first-child{
            margin-left: 0;
        }
    }
}

.button{
    @extend .button--clear;

    outline: none;
    padding: #{$spacing * 0.75} $spacing * 2;
    background: $button;
    color: $color0;
    cursor: pointer;
    border-radius: $borderRadius;
    display: inline-block;
    text-align:center;
    transition: background $animDuration;
    text-transform: uppercase;
    font-weight: bold;

    &:hover, &:active, &:focus{
        background: darken($button, $shadeLow);
    }
}

.button--alt{
    background: $button--alt;

    &:hover, &:active, &:focus{
        background: darken($button--alt, $shadeLow);
    }
}

.button--iconSplit{
    display: table;
    padding-right: $spacing;

    & > *{
        display: table-cell;
    }

    & > span{
        width: 100%;
    }
}

.button--form{
    background: $color1;
    border-top-right-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    transition: background $animDuration;

    &:hover, &:active, &:focus{
        background: darken($button, $shadeLow);
    }
}

.button--off, .button[disabled]{
    opacity: 0.5;
    pointer-events: none;
}