//** Global **//
$legacy : true;
$normalize-vertical-rhythm: true;
//** Alerts **//
$alert : $colorGood;
$alert--info : $colorInfo;
$alert--warn : $colorWarn;
$alert--fail : $colorBad;
//** Breadcrumb **//
$breadcrumbBorder : $color1;
$breadcrumbDelimeterColor : $color2;
$breadcrumb--active : $color3;
//** Buttons **//
$button : $color1;
$button--alt : $color3;
$buttonIcon : $color0;
//** Card **//
$card : $color3;
//** Form **//
$form : $color0;
$formBorder : $color6;
$formBorder--active : $color1;
$formPlaceholder : $color4;
$formIcon : $color1;
$formIcon--active : $color3;
$formLabels : true;
$formActive : $color4;
$formMin : 150px;
//** Grid **//
$grid : 1400px;
//** Icons **//
$icon : $color1;
$icon--active: $color3;
$icon--reverse: $color0;
//** Modals **//
$modal : $color0;
$modalBg : $color5;
$modalMax : 500px;
//** Paging **//
$pager : $color1;
$pager--active : $color3;
$pager--hover : $color2;
//** Progress bar **//
$progress : $color1;
$progressMeter : $color3;
//** Radio / Checkbox **//
$radioCheck : $color3;
$radioCheckBorder : $color1;
$radioCheckBorder--active : $color3;
$radioCheckBg : $color0;
//** Switch **//
$switch : $color1;
$switchBg : $color0;
$switch--active : $color3;
//** Typography **//
$fontColor : $color4;
$fontFamily : 'Roboto', sans-serif;