.modern, .flexbox.js{
    .flex{
        display: flex;
        /* width: 100%; grid__inner should now be applied if full width required */
    }

    .flex--vert{
        flex-direction: column;

        & > *{
            flex-shrink: 0;
        }
    }

    .flex__grow{
        flex-grow: 1;
    }
}