@mixin legacy(){
    @if ($legacy){
        .legacy &, .no-flexbox &, .no-csscalc &, .no-js &{
            @content;
        }
    }
}

@mixin modern(){
    .modern &, .flexbox.csscalc.js &{
        @content;
    }
}

/* GRID */
@mixin gridCode($percent, $size, $children: false){
    @include modern(){
        max-width: $percent; /* Hack only needed for IE 11 see: http://stackoverflow.com/a/21950351/1213795 */
        flex-basis: $percent;
        //overflow: hidden; /* Stops wrapping when content overflows */ REMOVE IN FAVOUR OF INNER DIV AND FULL WIDTH UTILITY (allows for box-shadow and such on cards)
    }

    @include legacy(){
        width: $percent;
    }
}

@mixin grid($size){
    $percent : $size * 100%;

    @include gridCode($percent, $size);
}

@mixin gridChildren($size){
    $percent : $size * 100%;

    & > *{
        @include gridCode($percent, $size, true);
    }
}

.container{
    max-width: $grid;
    margin: 0 auto;
}

.grid{
    @include modern(){
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        align-content: stretch;
        flex-basis: 100%;
    }

    .flex > &{
        @include modern(){ /* Width 100% would be better but firefox won't use the calculated value */
            flex-basis: calc(100% + 15px);
        }
    }

    margin: 0 #{-$spacing * 0.5} 0 #{-$spacing * 0.5};

    & > *{
        padding-right: $spacing * 0.5;
        padding-left: $spacing * 0.5;
        box-sizing: border-box;
    }

    @include legacy(){
        & > *{
            display: inline-block;
            vertical-align: top;
        }
    }

    &.grid--noGutters{
        margin-left: 0;
        margin-right: 0;

        & > *{
            padding-right: 0;
            padding-left: 0;
        }
    }

    &.grid--vertGutters{
        margin-bottom: -$spacing;

        & > *{
            margin-bottom: $spacing;
        }
    }
}

.grid__inner{
    width: 100%;
}

$sizes: 'full' 'half' 'third' 'quarter' 'fifth' 'sixth' 'seventh' 'eighth' 'ninth' 'tenth';

$offSizes: (
    'twoThirds' ((1 / index($sizes, 'third')) * 2),

    'threeQuarters' ((1 / index($sizes, 'quarter')) * 3),

    'twoFifths' ((1 / index($sizes, 'fifth')) * 2),
    'threeFifths' ((1 / index($sizes, 'fifth')) * 3),
    'fourFifths' ((1 / index($sizes, 'fifth')) * 4),
    'fiveSixths' ((1 / index($sizes, 'sixth')) * 5),

    'twoSevenths' ((1 / index($sizes, 'seventh')) * 2),
    'threeSevenths' ((1 / index($sizes, 'seventh')) * 3),
    'fourSevenths' ((1 / index($sizes, 'seventh')) * 4),
    'fiveSevenths' ((1 / index($sizes, 'seventh')) * 5),
    'sixSevenths' ((1 / index($sizes, 'seventh')) * 6),

    'sevenEighths' ((1 / index($sizes, 'eighth')) * 7),

    'twoNinths' ((1 / index($sizes, 'ninth')) * 2),
    'fourNinths' ((1 / index($sizes, 'ninth')) * 4),
    'fiveNinths' ((1 / index($sizes, 'ninth')) * 5),
    'sevenNinths' ((1 / index($sizes, 'ninth')) * 7),
    'eightNinths' ((1 / index($sizes, 'ninth')) * 8),

    'threeTenths' ((1 / index($sizes, 'tenth')) * 3),
    'sevenTenths' ((1 / index($sizes, 'tenth')) * 7),
    'nineTenths' ((1 / index($sizes, 'tenth')) * 9)
);

@each $size in $sizes{
    $i: index($sizes, $size);

    .grid--#{$size}s{
        @include gridChildren(1 / $i);
    }

    .grid__#{$size}{
        @include grid(1 / $i);
    }
}

@each $offKey, $offSize in $offSizes{
    .grid__#{$offKey}{
        @include grid($offSize);
    }
}

/* BREAKPOINTS */
// All loops separate so they cascade properly
@each $size in $sizes{
    $i: index($sizes, $size);

    @include breakpoint(max-width $desktopMax){
        .grid--#{$size}s--desktop{
            @include gridChildren(1 / $i);
        }
    }

    @include breakpoint(max-width $desktopMax){
        .grid__#{$size}--desktop{
            @include grid(1 / $i);
        }
    }
}

@each $offKey, $offSize in $offSizes{
    @include breakpoint(max-width $desktopMax){
        .grid__#{$offKey}--desktop{
            @include grid($offSize);
        }
    }
}

@each $size in $sizes{
    $i: index($sizes, $size);

    @include breakpoint(max-width $deviceMax){
        .grid--#{$size}s--device{
            @include gridChildren(1 / $i);
        }
    }

    @include breakpoint(max-width $deviceMax){
        .grid__#{$size}--device{
            @include grid(1 / $i);
        }
    }
}

@each $offKey, $offSize in $offSizes{
    @include breakpoint(max-width $deviceMax){
        .grid__#{$offKey}--device{
            @include grid($offSize);
        }
    }
}

@each $size in $sizes{
    $i: index($sizes, $size);

    @include breakpoint(max-width $mobileMax){
        .grid--#{$size}s--mobile{
            @include gridChildren(1 / $i);
        }
    }

    @include breakpoint(max-width $mobileMax){
        .grid__#{$size}--mobile{
            @include grid(1 / $i);
        }
    }
}

@each $offKey, $offSize in $offSizes{
    @include breakpoint(max-width $mobileMax){
        .grid__#{$offKey}--mobile{
            @include grid($offSize);
        }
    }
}

/* ALIGNMENT */
@mixin grid--align($alignment){
    text-align: $alignment;
    
    @include modern(){
        @if($alignment == 'left'){
            justify-content: flex-start;
        } @else if($alignment == 'right'){
            justify-content: flex-end;
        } @else{
            justify-content: $alignment;
        }
    }
}

$alignments: left right center;

@each $alignment in $alignments{
    .grid--#{$alignment}{
        @include grid--align($alignment);
    }
}

/* BREAKPOINTS */
// All loops separate so they cascade properly
@each $alignment in $alignments{
    @include breakpoint(max-width $desktopMax){
        .grid--#{$alignment}--desktop{
            @include grid--align($alignment);
        }
    }
}

@each $alignment in $alignments{
    @include breakpoint(max-width $deviceMax){
        .grid--#{$alignment}--device{
            @include grid--align($alignment);
        }
    }
}

@each $alignment in $alignments{
    @include breakpoint(max-width $mobileMax){
        .grid--#{$alignment}--mobile{
            @include grid--align($alignment);
        }
    }
}