.modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background: $modalBg;
	box-sizing: border-box;
	z-index: 20;

	.alert{
		display: none;
	}
}

.modal--noscript{
	display: table;
}

.modal--login{
	.login &{
		display: table;
	}
}

.modal__box{
	background: $modal;
	padding: $spacing * 2;
	max-width: $modalMax;
	margin: 0 auto;
}

.modal__container{
	display: table-cell;
	vertical-align: middle;
	padding: $spacing * 2;
}