@mixin legacy(){
    @if ($legacy){
        .legacy &, .no-cssanimations &, .no-js &{
            @content;
        }
    }
}

@mixin modern(){
    .modern &, .cssanimations.js &{
        @content;
    }
}

.spinner{
	opacity: 0;
	top: $spacing;
	right: $spacing;
	position: absolute;
	visibility: hidden;
	pointer-events: none;
	transition: all 0.4s;

	@include modern(){
		animation: rotate 1s infinite linear;
	}

	@include legacy(){
		background: url("http://i2.wp.com/www.thegreatnovelingadventure.com/wp-content/plugins/wp-polls/images/loading.gif") center center no-repeat;

		svg{
			display: none;
		}
	}
}

.spinner--load{
	position: fixed;

	.loading &{
		opacity: 1;
		visibility: visible;
	}
}