/* MISC */
.ut-clearListOnly{
    list-style: none !important;
    padding: 0 !important;
}

.ut-clearList{
    @extend .ut-clearListOnly;
    
    li{
        display: inline-block;
    }
}

.ut-noWrap{
    white-space: nowrap !important;
}

.ut-borderBox{
    box-sizing: border-box !important;
}

.ut-newContext{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ut-inlineBlock{
    display: inline-block !important;
}

.ut-relative{
    position: relative !important;
}

.ut-fullWidth{
    width: 100% !important;
}

@include breakpoint(max-width $desktopMax){
    .ut-fullWidth--desktop{
        width: 100% !important;
    }
}

@include breakpoint(max-width $deviceMax){
    .ut-fullWidth--device{
        width: 100% !important;
    }
}

@include breakpoint(max-width $mobileMax){
    .ut-fullWidth--mobile{
        width: 100% !important;
    }
}

.ut-fullHeight{
    height: 100% !important;
}

@include breakpoint(max-width $desktopMax){
    .ut-fullHeight--desktop{
        height: 100% !important;
    }
}

@include breakpoint(max-width $deviceMax){
    .ut-fullHeight--device{
        height: 100% !important;
    }
}

@include breakpoint(max-width $mobileMax){
    .ut-fullHeight--mobile{
        height: 100% !important;
    }
}

/* VERTICAL ALGINMENT */
$vertz: 'Top' 'Middle' 'Bottom';

@each $key in $vertz{
    .ut-vertAlign#{$key}{
        vertical-align: #{to-lower-case($key)} !important;
    }
}

@each $key in $vertz{
    @include breakpoint(max-width $desktopMax){
        .ut-vertAlign#{$key}--desktop{
            vertical-align: #{to-lower-case($key)} !important;
        }
    }
}

@each $key in $vertz{
    @include breakpoint(max-width $deviceMax){
        .ut-vertAlign#{$key}--device{
            vertical-align: #{to-lower-case($key)} !important;
        }
    }
}

@each $key in $vertz{
    @include breakpoint(max-width $mobileMax){
        .ut-vertAlign#{$key}--mobile{
            vertical-align: #{to-lower-case($key)} !important;
        }
    }
}

/* HORIZONTAL ALGINMENT */
$horz: 'Left' 'Center' 'Right';

@each $key in $horz{
    .ut-textAlign#{$key}{
        text-align: #{to-lower-case($key)} !important;
    }
}

@each $key in $horz{
    @include breakpoint(max-width $desktopMax){
        .ut-textAlign#{$key}--desktop{
            text-align: #{to-lower-case($key)} !important;
        }
    }
}

@each $key in $horz{
    @include breakpoint(max-width $deviceMax){
        .ut-textAlign#{$key}--device{
            text-align: #{to-lower-case($key)} !important;
        }
    }
}

@each $key in $horz{
    @include breakpoint(max-width $mobileMax){
        .ut-textAlign#{$key}--mobile{
            text-align: #{to-lower-case($key)} !important;
        }
    }
}

/* TABLE */
.ut-tableChildren{
    display: table !important;

    & > *{
        display: table-cell;
    }
}

.ut-tableRowChildren{
    display: table !important;

    & > *{
        display: table-row;
    }
}

.ut-tableFixed{
    table-layout: fixed !important;
}

.ut-tableCell{
    display: table-cell !important;
}

/* MARGIN/PADDING */
$directions: 'Top' 'Right' 'Bottom' 'Left';

$rules: 'padding' 'margin';

@each $rule in $rules{
    .ut-#{$rule}None{
        #{$rule}: 0 !important;
    }

    .ut-#{$rule}{
        #{$rule}: $spacing !important;
    }

    @each $direction in $directions{
        .ut-#{$rule}#{$direction}{
            #{$rule}-#{to-lower-case($direction)}: $spacing !important;
        }
    }

    @include breakpoint(max-width $desktopMax){
        .ut-#{$rule}None--desktop{
            #{$rule}: 0 !important;
        }

        .ut-#{$rule}--desktop{
            #{$rule}: $spacing !important;
        }

        @each $direction in $directions{
            .ut-#{$rule}#{$direction}--desktop{
                #{$rule}-#{to-lower-case($direction)}: $spacing !important;
            }
        }
    }

    @include breakpoint(max-width $deviceMax){
        .ut-#{$rule}None--device{
            #{$rule}: 0 !important;
        }

        .ut-#{$rule}--device{
            #{$rule}: $spacing !important;
        }

        @each $direction in $directions{
            .ut-#{$rule}#{$direction}--device{
                #{$rule}-#{to-lower-case($direction)}: $spacing !important;
            }
        }
    }

    @include breakpoint(max-width $mobileMax){
        .ut-#{$rule}None--mobile{
            #{$rule}: 0 !important;
        }

        .ut-#{$rule}--mobile{
            #{$rule}: $spacing !important;
        }

        @each $direction in $directions{
            .ut-#{$rule}#{$direction}--mobile{
                #{$rule}-#{to-lower-case($direction)}: $spacing !important;
            }
        }
    }
}

/* SHOW/HIDE */
@include breakpoint(min-width $desktopMax + 1){
    .ut-show--desktop{
        display: none !important;
    }
}

@include breakpoint(min-width $deviceMax + 1){
    .ut-show--device{
        display: none !important;
    }
}

@include breakpoint(min-width $mobileMax + 1){
    .ut-show--mobile{
        display: none !important;
    }
}

@include breakpoint(max-width $desktopMax){
    .ut-hide--desktop{
        display: none !important;
    }
}

@include breakpoint(max-width $deviceMax){
    .ut-hide--device{
        display: none !important;
    }
}

@include breakpoint(max-width $mobileMax){
    .ut-hide--mobile{
        display: none !important;
    }
}