$color0 : white;
$color1 : #22F0CC; // Light Blue
$color2 : #19B398; // Darker Light Blue
$color3 : #FF9D2E; // Orange
$color4 : #333333; // Dark Gray
$color5 : #F2F2F2; // Light Gray
$color6 : #E6E6E6; // Medium Gray

$colorGood : #DFF0D8; // Green
$colorInfo : #D9EDF7; // Blue
$colorWarn : #FCF8E3; // Yellow
$colorBad : #F2DEDE; // Red

$spacing : 15px;
$borderRadius : 4px;

$shadeLow : 10%;
$shadeMed : 25%;
$shadeHigh : 35%;

$iconSize : 40px;

$baseMax : 479px;
$mobileMax : 767px;
$deviceMax : 1023px;
$desktopMax : 1300px;

$animDuration : 0.2s;