.logoBig{
    width: 250px !important;
    height: 100px !important;
    background-size: contain;
    background-position: 50%;
    margin: 0 auto;

    &.icon{
    	height: 0 !important;
    	padding-bottom: 100px !important;
    }
}

.loginBox{
	max-width: 500px;
	margin: 0 auto;
}